html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
  }

header {
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mode-toggle {
    display: flex;
    
}



.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px; 
}


.question {
    background-color: white;
    margin-bottom: 20px; 
    padding: 15px; 
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

/* Style for correct answers */
.question.correct {
    background-color: #8aff8a; /* Light green background */
    color: green; /* Green text color */
}

/* Style for incorrect answers */
.question.incorrect {
    background-color: #ff8a8a; /* Light red background */
    color: red; /* Red text color */
}


.dark-mode .question {
    background-color: #333; 
    color: #fff; 
    border-color: #fff; 
}


.question label {
    margin-bottom: 10px; 
}


.showResult {
    margin-top: 20px;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
}

#resultBtn {
    height: 50px;
    width: 300px;
    
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px; 
}


#result {
    list-style-type: none;
    padding: 0;
}


.result-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}



.popUp {
    width: 600px;
    height: 400px;
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
  
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3rem;
    display: none;
  }
  
  .popUpShow {
    display: flex;
  }
