html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 75px;
    text-align: center;
    align-items: center;
    justify-content: center;

}


.wrapper {
    
    height: 100%;
    width: 100%;
    display: flex;
    
}

.q-wrapper {
    display: flex;
    flex-direction: column;
}

.a-wrapper {
    display: flex;
    
}

.question1 {
    background-color: white;
    height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question2 {
    background-color: white;
    height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.question3 {
    background-color: white;
    height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.question4 {
    background-color: white;
    height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.question5 {
    background-color: white;
    height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.question6 {
    background-color: white;
    height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.question7 {
    background-color: white;
    height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question8 {
    background-color: white;
    height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.question9 {
    background-color: white;
    height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .question10 {
        background-color: white;
        height: 10%;
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }